<div style="margin-top: 10px;">

    <table class="table table-hover table-striped" style=" table-layout: fixed;">
        <thead class="table-primary">
            <tr>
                <th style="display: none;">Id</th>
                <th>项目名称</th>
                <th>试验分期</th>
                <th>药物</th>
                <th>适应症</th>
                <th>试验名称</th>
                <th>拜访科室</th>

            </tr>
        </thead>
        <tbody>
            {{#each personInfoList}}
            <tr>
                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: none;">{{this.mainid}}
                </td>
                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{{this.pro_name}}</td>
                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{{this.test_stage}}</td>
                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{{medicine}}</td>
                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{{indication}}</td>
                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{{test_name}}</td>
                <td style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden;">{{Deptname}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div style="display: flex;flex-direction:row;justify-content:space-between">
        <div style="margin-left: 20px;">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">增加</button>
            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#myModal2"
                id="_update">修改</button>
            <button type="button" class="btn btn-danger">删除</button>
        </div>
        <div id="idpage">
            <ul class="pagination" style="margin-right: 20px;">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="">1</a></li>
                <li class="page-item "><a class="page-link" href="/projectform?limit=5&offset=10">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
    <div id="currentpage" style="display: none;">{{currentpage}}</div>
    <div style="display:none;">共<span id="totalCount">{{totalCount}}</span>条</div>
    <hr>

</div>
<script>
    $(document).ready(function () {
        var currentPage = 1; //当前页
        var totalCount = 0; //总数据量
        var global_limit = 15;//存每页多少条记录
        //var global_offset = 0;//存跳过多少条记录
        currentPage = parseInt($('#currentpage').text());
        totalCount = parseInt($('#totalCount').text());
        console.log(currentPage);
        console.log("ii")
        init();

        function init() {
            var num = 0;//分多少页
            if (totalCount % global_limit != 0) {
                num = (totalCount / global_limit + 1) ^ 0;//取整
            } else {
                num = (totalCount / global_limit) ^ 0;
            }
            console.log("num=" + num);
            var x = 0, y = 0, z = 0;
            var xstyle = "", ystyle = "", zstyle = "";//控制display
            var xactive = "", yactive = "", zactive = "";//控制active
            var xoffset = 0, yoffset = 0, zoffset = 0;//控制跳过多少
            var last = parseInt(totalCount / global_limit) * global_limit;//最后一页跳过数目
            if (num == 1) {//总页数为1
                console.log("#");
                x = 1;
                xactive = "active";
                ystyle = "display:none";
                zstyle = "display:none";
                xoffset = 0;
            } else if (num == 2) {//总页数为2
                console.log("##");
                x = 1;
                y = 2;
                //yactive = "active";///////////////////暂时先不处理
                zstyle = "display:none";
                xoffset = 0;
                yoffset = global_limit;
            } else if (num > 2) {//总页数大于2
                if (currentPage == num) {//当前是最后一页
                    console.log("###");
                    zactive = "active";
                    x = currentPage - 2;
                    y = currentPage - 1;
                    z = currentPage;
                    xoffset = (currentPage - 3) * global_limit;
                    yoffset = (currentPage - 2) * global_limit;
                    zoffset = (currentPage - 1) * global_limit;
                } else {
                    console.log("####");
                    if (currentPage == 1) {//当前是第一页
                        xactive = "active";
                        x = 1;
                        y = 2;
                        z = 3;
                        xoffset = 0;
                        yoffset = global_limit;
                        zoffset = 2 * global_limit;
                    } else {
                        yactive = "active";
                        x = currentPage - 1;
                        y = currentPage;
                        z = currentPage + 1;
                        xoffset = (currentPage - 2) * global_limit;
                        yoffset = (currentPage - 1) * global_limit;
                        zoffset = (currentPage) * global_limit;
                    }
                }
            }
            var strpage = `
            
                <li class="page-item"><a class="page-link" href="/projectform?limit=` + global_limit + `&offset=` + 0 + `">第一页</a></li>
                <li class="page-item `+ xactive + `" style="` + xstyle + `"><a class="page-link" href="/projectform?limit=` + global_limit + `&offset=` + xoffset + `">` + x + `</a></li>
                <li class="page-item `+ yactive + `" style="` + ystyle + `"><a class="page-link" href="/projectform?limit=` + global_limit + `&offset=` + yoffset + `">` + y + `</a></li>
                <li class="page-item `+ zactive + `" style="` + zstyle + `"><a class="page-link" href="/projectform?limit=` + global_limit + `&offset=` + zoffset + `">` + z + `</a></li>
                <li class="page-item"><a class="page-link"  href="/projectform?limit=` + global_limit + `&offset=` + last + `">最后一页</a></li>
        <li  style="margin-top:8px;margin-left:15px;">共<span >{{totalCount}}</span>条</li>
        `;
            $('.pagination').html(strpage);
        }

    })

</script>
<script>
    var mainid = 0;
    $('tbody>tr').click(function () {
        $(this)
            .addClass('selected')
            .siblings().removeClass('selected')
        mainid = $(this).children().first().text();//给修改使用
    });

    //修改
    $('#_update').click(function () {
        //$('#myModal2').show();
        //(mainid);
        var _form = $('#form3');
        $.ajax("/api/projectlist?mainid=" + mainid, {
            method: "get",
        }).done(function (res) {
            if (res && res.data !== undefined) {
                console.log(res.data);
                //
                _form.find('input[name="mainid"]').val(res.data[0].mainid);
                _form.find('input[name="pro_name"]').val(res.data[0].pro_name);
                _form.find('input[name="medicine"]').val(res.data[0].medicine);
                _form.find('input[name="indication"]').val(res.data[0].indication);
                _form.find('input[name="test_name"]').val(res.data[0].test_name);
                _form.find('input[name="Deptname"]').val(res.data[0].Deptname);
                _form.find('input[name="medicine_introduce"]').val(res.data[0].medicine_introduce);
                _form.find('input[name="paper"]').val(res.data[0].paper);
                _form.find('input[name="medicine_group"]').val(res.data[0].medicine_group);
                _form.find('input[name="drug_group"]').val(res.data[0].drug_group);
                _form.find('input[name="medicine_programme"]').val(res.data[0].medicine_programme);

                _form.find('textarea[name="briefly_in"]').val(res.data[0].briefly_in);
                _form.find('textarea[name="detail_in"]').val(res.data[0].detail_in);
                _form.find('textarea[name="briefly_out"]').val(res.data[0].briefly_out);
                _form.find('textarea[name="detail_out"]').val(res.data[0].detail_out);

                getregion(res.data[0].region_id);//设置地区
                getregioninfo(res.data[0].region_id, res.data[0].region_info_id);//设置子地区
                getgene(res.data[0].gene_id);//设置基因型
                gettreate(res.data[0].treate_id);//设置治疗线数
                getdisease(res.data[0].disease_id);//设置疾病
                getdiseaseinfo(res.data[0].disease_id, res.data[0].disease_info_id);//设置子疾病
            }
        })

    })

    //设置地区列表
    function getregion(region_id) {
        var str = "";
        var _form = $('#form3');
        $.ajax("/api/region_main", {
            method: "get",
        }).done(function (res) {
            if (res && res.data !== undefined) {
                for (var i = 0; i < res.data.length; i++) {
                    str += `<option class="regionvalue" value="` + res.data[i].regionid + `">` + res.data[i].regionname + `</option>`;
                }
                $('#form2getregion').html(str);// = str;
                if (region_id != null) {
                    $("#form2getregion").val(region_id)
                }
            }
        })
    }
    //设置子地区列表
    function getregioninfo(region_id, region_info_id) {
        if (region_id == null) return;
        var str = "";
        var _form = $('#form3');
        $.ajax("/api/region_info?regionid=" + region_id, {
            method: "get",
        }).done(function (res) {
            //console.log(res.data)
            if (res && res.data !== undefined) {
                for (var i = 0; i < res.data.length; i++) {
                    str += `<option class="" value="` + res.data[i].rid + `">` + res.data[i].rname + `</option>`;
                }
                $('.form2regioninfoclick').html(str);
                if (region_info_id != null) {
                    $(".form2regioninfoclick").val(region_info_id)
                }

                // console.log()

                console.log("dd")
            }
        })
    }
    //设置基因型
    function getgene(gene_id) {
        var str = "";
        var _form = $('#form3');
        $.ajax("/api/gene", {
            method: "get",
        }).done(function (res) {
            if (res && res.data !== undefined) {
                //console.log(res.data)
                for (var i = 0; i < res.data.length; i++) {
                    str += `<option class="" value="` + res.data[i].id + `">` + res.data[i].gene_name + `</option>`;
                }
                $('.form2getgene').html(str);// = str;
                if (gene_id != null) {
                    $(".form2getgene").val(gene_id)
                }
            }
        })
    }
    //设置治疗线数
    function gettreate(treate_id) {
        var str = "";
        var _form = $('#form3');
        $.ajax("/api/treate", {
            method: "get",
        }).done(function (res) {
            console.log(res.data)
            if (res && res.data !== undefined) {
                for (var i = 0; i < res.data.length; i++) {
                    str += `<option class="" value="` + res.data[i].id + `">` + res.data[i].treate_name + `</option>`;
                }
                $('.form2gettreate').html(str);// = str;
                if (treate_id != null) {
                    $(".form2gettreate").val(treate_id)
                }
            }
        })
    }
    //设置疾病列表
    function getdisease(disease_id) {
        var str = "";
        var _form = $('#form3');
        $.ajax("/api/disease_main", {
            method: "get",
        }).done(function (res) {
            if (res && res.data !== undefined) {
                for (var i = 0; i < res.data.length; i++) {
                    str += `<option class="" value="` + res.data[i].id + `">` + res.data[i].disease_name + `</option>`;
                }
                $('#form2gedisease').html(str);// = str;
                if (disease_id != null) {
                    $("#form2gedisease").val(disease_id)
                }
            }
        })
    }
    //设置子疾病列表
    function getdiseaseinfo(disease_id, disease_info_id) {
        if (disease_id == null) return;
        var str = "";
        var _form = $('#form3');
        $.ajax("/api/disease_info?diseaseid=" + disease_id, {
            method: "get",
        }).done(function (res) {
            //console.log(res.data)
            if (res && res.data !== undefined) {
                console.log(res.data)
                for (var i = 0; i < res.data.length; i++) {
                    str += `<option class="" value="` + res.data[i].id + `">` + res.data[i].dname + `</option>`;
                }
                $('.form2diseaseinfoclick').html(str);
                if (disease_info_id != null) {
                    $(".form2diseaseinfoclick").val(disease_info_id)
                }

                // console.log()

                console.log("dd")
            }
        })
    }

    //点击form2地区的select，获取地区列表
    $(document).on("click", "#form2getregion", function () {
        var str = "";
        var that = this;
        var select_regionid = $('#form2getregion').val();
        $.ajax("/api/region_info?regionid=" + select_regionid, {
            method: "get",
        }).done(function (res) {
            var content = "";
            for (let i = 0; i < res.data.length; i++) {
                content += `<option class="" value="` + res.data[i].rid + `">` + res.data[i].rname + `</option>`;
            }
            console.log(content);
            $('.form2regioninfoclick').html(content)
        });

    })
    //点击form2疾病的select，获取疾病列表
    $(document).on("click", "#form2gedisease", function () {
        str = "";
        var that = this;
        var select_diseaseid = $('#form2gedisease').val();
        //console.log(select_regionid)
        $.ajax("/api/disease_info?diseaseid=" + select_diseaseid, {
            method: "get",
        }).done(function (res) {
            var content = "";
            for (let i = 0; i < res.data.length; i++) {
                content += `<option class="" value="` + res.data[i].id + `">` + res.data[i].dname + `</option>`;
            }
            console.log(content);
            $('.form2diseaseinfoclick').html(content)
        });

    })

    var time_region = 0;
    //点击地区的select，获取地区列表
    $(document).on("click", ".regionclick", function () {
        var str = "";
        var that = this;
        if (time_region == 0) {
            $.ajax("/api/region_main", {
                method: "get",
            }).done(function (res) {
                if (res && res.data !== undefined) {
                    for (var i = 0; i < res.data.length; i++) {
                        str += `<option class="regionvalue" value="` + res.data[i].regionid + `">` + res.data[i].regionname + `</option>`;
                    }
                    that.innerHTML = str;
                }
            })
            time_region += 1;
        }
        var select_regionid = $('.regionclick').val();
        //console.log(select_regionid)
        $.ajax("/api/region_info?regionid=" + select_regionid, {
            method: "get",
        }).done(function (res) {
            var content = "";
            for (let i = 0; i < res.data.length; i++) {
                content += `<option class="" value="` + res.data[i].rid + `">` + res.data[i].rname + `</option>`;
            }
            console.log(content);
            $('.regioninfoclick').html(content)
        });

    })
    var time_gene = 0;
    $(document).on("click", ".geneclick", function () {
        str = "";
        var that = this;
        if (time_gene == 0) {
            $.ajax("/api/gene", {
                method: "get",
            }).done(function (res) {
                if (res && res.data !== undefined) {
                    for (var i = 0; i < res.data.length; i++) {
                        str += `<option class="" value="` + res.data[i].id + `">` + res.data[i].gene_name + `</option>`;
                    }
                    that.innerHTML = str;
                }
            })
            time_gene += 1;
        }
    })
    var time_treate = 0;
    $(document).on("click", ".treatclick", function () {
        str = "";
        var that = this;
        if (time_treate == 0) {
            $.ajax("/api/treate", {
                method: "get",
            }).done(function (res) {
                if (res && res.data !== undefined) {
                    for (var i = 0; i < res.data.length; i++) {
                        str += `<option class="" value="` + res.data[i].id + `">` + res.data[i].treate_name + `</option>`;
                    }
                    that.innerHTML = str;
                }
            })
            time_treate += 1;
        }
    })
    var time_disease = 0;
    //点击疾病的select，获取地区列表
    $(document).on("click", ".diseaseclick", function () {
        str = "";
        var that = this;
        if (time_disease == 0) {
            $.ajax("/api/disease_main", {
                method: "get",
            }).done(function (res) {
                if (res && res.data !== undefined) {
                    for (var i = 0; i < res.data.length; i++) {
                        str += `<option class="diseasevalue" value="` + res.data[i].id + `">` + res.data[i].disease_name + `</option>`;
                    }
                    that.innerHTML = str;
                }
            })
            time_disease += 1;
        }
        var select_diseaseid = $('.diseaseclick').val();
        //console.log(select_regionid)
        $.ajax("/api/disease_info?diseaseid=" + select_diseaseid, {
            method: "get",
        }).done(function (res) {
            var content = "";
            for (let i = 0; i < res.data.length; i++) {
                content += `<option class="" value="` + res.data[i].id + `">` + res.data[i].dname + `</option>`;
            }
            console.log(content);
            $('.diseaseinfoclick').html(content)
        });

    })

</script>
<style>
    .selected {
        background-color: #5BBFFD;
    }
</style>
<!-- 模态框 -->
<div class="modal fade  " id="myModal">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header" style="background-color: #dddddd;">
                <h4 class="modal-title">录入项目信息</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- 模态框内容 -->
            <div class="modal-body">
                <form action="/api/formdata" method="post" class="was-validated">
                    {{!-- <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">项目类别</span>
                        <input type="text" class="form-control">
                    </div> --}}

                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">项目名称</span>
                        <input type="text" class="form-control" name="pro_name" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">地区</span>
                        <select class="form-select regionclick" name="region_id" required>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>

                        </select>
                        <span class="input-group-text" style="width:120px;">子地区</span>
                        <select class="form-select regioninfoclick" name="region_info_id" required>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">基因型</span>
                        <select class="form-select geneclick" name="gene_id" required>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                        <span class="input-group-text" style="width:120px;">治疗线数</span>
                        <select class="form-select treatclick" name="treate_id" required>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">试验分期</span>
                        <select class="form-select" id="sel1" name="test_stage" required>
                            <option>I期</option>
                            <option>II期</option>
                            <option>III期</option>
                            <option>IV期</option>
                        </select>
                        <br>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">疾病类型</span>
                        <select class="form-select diseaseclick" name="disease_id" required>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>

                        </select>
                        <span class="input-group-text" style="width:120px;">子类型</span>
                        <select class="form-select diseaseinfoclick" name="disease_info_id" required>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">药物名称</span>
                        <input type="text" class="form-control" name="medicine" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">适应症</span>
                        <input type="text" class="form-control" name="indication" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">试验名称</span>
                        <input type="text" class="form-control" name="test_name" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">拜访科室</span>
                        <input type="text" class="form-control" name="Deptname" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">报名材料</span>
                        <input type="text" class="form-control" name="paper" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">药物介绍</span>
                        <input type="text" class="form-control" name="medicine_introduce" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">试验药组</span>
                        <input type="text" class="form-control" name="medicine_group" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">对照药组</span>
                        <input type="text" class="form-control" name="drug_group" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">用药方案</span>
                        <input type="text" class="form-control" name="medicine_programme" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">简要入排</span>
                        <textarea class="form-control" rows="5" id="comment" name="briefly_in" required></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">简要排除</span>
                        <textarea class="form-control" rows="5" id="comment" name="briefly_out" required></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">完整入排</span>
                        <textarea class="form-control" rows="6" id="comment" name="detail_in" required></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">完整排除标准</span>
                        <textarea class="form-control" rows="6" id="comment" name="detail_out" required></textarea>
                    </div>
                    <div style="display: flex;flex-direction:row;justify-content:center;">
                        <button type="submit" class="btn btn-primary tex" style="width: 30%;">提交</button>
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                {{!-- <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">确定</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button> --}}
            </div>

        </div>
    </div>
</div>

<!-- 模态框 -->
<div class="modal fade  " id="myModal2">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header" style="background-color: #dddddd;">
                <h4 class="modal-title">修改项目信息</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- 模态框内容 -->
            <div class="modal-body">
                <form action="/api/formdataupdate" method="post" id="form3" class="was-validated">
                    {{!-- <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">项目类别</span>
                        <input type="text" class="form-control">
                    </div> --}}
                    <div class="input-group mb-3" style="display: none;">
                        <span class="input-group-text" style="width:120px;">id</span>
                        <input type="text" class="form-control" name="mainid" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">项目名称</span>
                        <input type="text" class="form-control" name="pro_name" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">地区</span>
                        <select class="form-select " id="form2getregion" name="region_id" required>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>

                        </select>
                        <span class="input-group-text" style="width:120px;">子地区</span>
                        <select class="form-select form2regioninfoclick" name="region_info_id" required>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">基因型</span>
                        <select class="form-select form2getgene " name="gene_id" required>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                        <span class="input-group-text" style="width:120px;">治疗线数</span>
                        <select class="form-select  form2gettreate" name="treate_id" required>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">试验分期</span>
                        <select class="form-select" id="sel1" name="test_stage" required>

                            <option>I期</option>
                            <option>II期</option>
                            <option>III期</option>
                            <option>IV期</option>

                        </select>
                        <br>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">疾病类型</span>
                        <select class="form-select " id="form2gedisease" name="disease_id" required>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>

                        </select>
                        <span class="input-group-text" style="width:120px;">子类型</span>
                        <select class="form-select form2diseaseinfoclick" name="disease_info_id" required>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                            <option></option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">药物名称</span>
                        <input type="text" class="form-control" name="medicine" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">适应症</span>
                        <input type="text" class="form-control" name="indication" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">试验名称</span>
                        <input type="text" class="form-control" name="test_name" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">拜访科室</span>
                        <input type="text" class="form-control" name="Deptname" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">报名材料</span>
                        <input type="text" class="form-control" name="paper" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">药物介绍</span>
                        <input type="text" class="form-control" name="medicine_introduce" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">试验药组</span>
                        <input type="text" class="form-control" name="medicine_group" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">对照药组</span>
                        <input type="text" class="form-control" name="drug_group" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">用药方案</span>
                        <input type="text" class="form-control" name="medicine_programme" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">简要入排</span>
                        <textarea class="form-control" rows="5" id="comment" name="briefly_in" required></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">简要排除</span>
                        <textarea class="form-control" rows="5" id="comment" name="briefly_out" required></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">完整入排</span>
                        <textarea class="form-control" rows="6" id="comment" name="detail_in" required></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">完整排除标准</span>
                        <textarea class="form-control" rows="6" id="comment" name="detail_out" required></textarea>
                    </div>
                    <div style="display: flex;flex-direction:row;justify-content:center;">
                        <button type="submit" class="btn btn-primary tex" style="width: 30%;">提交</button>
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                {{!-- <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">确定</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button> --}}
            </div>

        </div>
    </div>
</div>

<!-- 模态框修改查看 -->
<div class="modal fade  " id="myModal_">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header" style="background-color: #dddddd;">
                <h4 class="modal-title">录入项目信息</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- 模态框内容 -->
            <div class="modal-body">
                <form action="/api/formdata" id="from2" method="post">
                    {{!-- <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">项目类别</span>
                        <input type="text" class="form-control">
                    </div> --}}
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">项目名称</span>
                        <input type="text" class="form-control" name="pro_name">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">试验分期</span>
                        <select class="form-select" id="sel1" name="test_stage">
                            <option></option>
                            <option>I期</option>
                            <option>II期</option>
                            <option>III期</option>
                            <option></option>
                        </select>
                        <br>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">药物名称</span>
                        <input type="text" class="form-control" name="medicine">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">适应症</span>
                        <input type="text" class="form-control" name="indication">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">试验名称</span>
                        <input type="text" class="form-control" name="test_name">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">拜访科室</span>
                        <input type="text" class="form-control" name="Deptname">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">报名材料</span>
                        <input type="text" class="form-control" name="paper">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">药物介绍</span>
                        <input type="text" class="form-control" name="medicine_introduce">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">试验药组</span>
                        <input type="text" class="form-control" name="medicine_group">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">对照药组</span>
                        <input type="text" class="form-control" name="drug_group">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">用药方案</span>
                        <input type="text" class="form-control" name="medicine_programme">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">简要入排</span>
                        <textarea class="form-control" rows="5" id="comment" name="briefly_in"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">完整入排</span>
                        <textarea class="form-control" rows="6" id="comment" name="detail_in"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" style="width:120px;">完整排除标准</span>
                        <textarea class="form-control" rows="6" id="comment" name="detail_out"></textarea>
                    </div>
                    <div style="display: flex;flex-direction:row;justify-content:center;">
                        <button type="submit" class="btn btn-primary tex" style="width: 30%;">提交</button>
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                {{!-- <button type="submit" class="btn btn-danger" data-bs-dismiss="modal">确定</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button> --}}
            </div>

        </div>
    </div>
</div>